body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    
}
.Calculator{

    width:25%;
    height:65%;
    min-width: 200px;
    min-height: 500px;
    background-color: #cdb4db;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding:20px;
    border-style:solid ;
    box-shadow: 3px 3px ;
    flex-grow:0;
}
.logo{
    display: flex;
    justify-content: end;
    align-items: flex-end;
    background-color:cdb4db;
    gap: 5px;
    margin-bottom: 5px;
}
.github{
    background-image:url("github-logo.png");
    width: 25px;
    height: 25px;
    background-color: #cdb4db;
    background-repeat:no-repeat
}
#container{
    height: 15%;
    background-color: #ECECEC;
    margin-bottom: 10%;
    display:flex;
    flex-direction: column;
    
}

#containers{
    height:70%;
    background-color:#cdb4db;
    display:flex;
    justify-content: center;

}

.equation{
    height:40%;
    display:flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 35px;
}
.active{
    height:60%;
    display:flex;
    justify-content: end;
    align-items: flex-end;
    font-size: 60px;
}

.Output{
    border-style:solid;
    border-radius: 10px;
    font-size: 30px;
    display: flex;
    justify-content:flex-start;
    align-items: flex-end;
    padding-right:5px;

}

.buttons{
    margin-top:20px;
    display:flex;
    background-color: #ffafcc;
    width: 100%;
    gap: 5px;
    flex-wrap:wrap;
}

.number{
    user-select:none;
}

#buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width:22%;
    background-color:#FFFFFF;
    border-radius: 10px;
    border-style: solid;
    
}

#clear{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width:22%;
    border-radius: 10px;
    border-style: solid;
    background-color:#ffafcc;
    

}

#operator{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width:22%;
    background-color:#ffe7ff;
    border-radius: 10px;
    border-style: solid;
    /* box-shadow: 1.5px 3px; */
}


#equal{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width:22%;
    background-color:#FFCBE8;
    border-radius: 10px;
    border-style: solid;
}

.operator:hover{
    filter: brightness(85%);
}


.number:hover{
    filter: brightness(85%);
}
.equal:hover{
    filter: brightness(85%);
}

.raised{
    box-shadow: 1.5px 3px;
}
.pressed {
    box-shadow: inset 1.5px 3px gray;
    transition-property: box-shadow;
    transition-duration: 2s;
    transition-delay: 0s;
  }